<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xinhe.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="cn.xinhe.domain.Student" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xinhe.domain.Student" >
    insert into student ( `name`, age,
      birthday, member_id)
    values ( #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{birthday,jdbcType=DATE}, #{memberId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xinhe.domain.Student" >
    update student
    set `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      member_id = #{memberId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, `name`, age, birthday, member_id
    from student
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="cn.xinhe.dto.StudentDTO" >
    select s.id, s.name, s.age, s.birthday, s.member_id ,m.phone
    from student s
    left join member m
    on m.id = s.member_id
  </select>
    <select id="getByMemberId" resultMap="BaseResultMap">
      select *
      from student
      where member_id = #{memberId,jdbcType=VARCHAR}
    </select>

</mapper>