<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xinhe.mapper.StudentPayMapper" >
  <resultMap id="BaseResultMap" type="cn.xinhe.domain.StudentPay" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="total_lesson" property="totalLesson" jdbcType="INTEGER" />
    <result column="used_lesson" property="usedLesson" jdbcType="INTEGER" />
    <result column="teacher_curriculum_id" property="teacherCurriculumId" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student_pay
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xinhe.domain.StudentPay" >
    insert into student_pay (id, amount, total_lesson, 
      used_lesson, teacher_curriculum_id, student_id
      )
    values (#{id,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{totalLesson,jdbcType=INTEGER}, 
      #{usedLesson,jdbcType=INTEGER}, #{teacherCurriculumId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xinhe.domain.StudentPay" >
    update student_pay
    set amount = #{amount,jdbcType=INTEGER},
      total_lesson = #{totalLesson,jdbcType=INTEGER},
      used_lesson = #{usedLesson,jdbcType=INTEGER},
      teacher_curriculum_id = #{teacherCurriculumId,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, amount, total_lesson, used_lesson, teacher_curriculum_id, student_id
    from student_pay
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, amount, total_lesson, used_lesson, teacher_curriculum_id, student_id
    from student_pay
  </select>
    <select id="getStatisticsByStudentId" resultType="cn.xinhe.dto.StatisticsInfo">
      select c.name as className,sp.total_lesson,sp.used_lesson
      from student_pay sp
      left join teacher_curriculum tc
      on tc.id = sp.teacher_curriculum_id
      left join curriculum c
      on c.id = tc.curriculum_id
      where sp.student_id = #{studentId}
    </select>
  <select id="listOfStudentId" resultType="cn.xinhe.domain.StudentPay">
    select id, amount, total_lesson, used_lesson, teacher_curriculum_id, student_id
    from student_pay
    where student_id = #{studentId,jdbcType=VARCHAR}
  </select>
    <select id="getByStudentIdAndTeacherCurriculumId" resultType="cn.xinhe.domain.StudentPay">
      select id, amount, total_lesson, used_lesson, teacher_curriculum_id, student_id
    from student_pay
    where
      teacher_curriculum_id = #{teacherCurriculumId,jdbcType=VARCHAR}
    and
      student_id = #{studentId,jdbcType=VARCHAR}

    </select>
    <select id="getByStudentIdAndLessonId" resultType="cn.xinhe.domain.StudentPay">
    select sp.id, sp.amount, sp.total_lesson, sp.used_lesson, sp.teacher_curriculum_id, sp.student_id
    from student_pay sp
    left join lesson l on l.teacher_curriculum_id = sp.teacher_curriculum_id
    where
      l.id = #{lessonId,jdbcType=VARCHAR}
    and
      sp.student_id = #{studentId,jdbcType=VARCHAR}
    </select>
</mapper>